<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a style="font-size: 22px; color: 2c2b2b; top:5px;" href="#"><img width="100%" alt="Silla" src="https://i.ibb.co/Vt39XRZ/Sin-t-tulo.png"/></a>
  
</div>

<body>
  <main class="container">
 
    <div class="left-column">      
    </div>
      
    
    <div class="right-column">
   
      <div class="product-description">
        <span>Sillas gamer</span>
        <h1>Noblechairs Epic Black/Gold</h1>
        <p style="color: rgb(110, 110, 110);">Los estándares de Noblechairs crean una combinación inconfundible de estética, materiales lujosos y comodidad absoluta. Esto se debe en gran medida a la fabricación de precisión automatizada industrialmente, con el resultado final de una mezcla incomparable de artesanía impecable que ayuda a hacer que las sillas de los nobles sientan una alegría.</p>
      </div>
   
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Color: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Negro/Oro</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Reposabrazos ajustable: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Si</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Material del marco: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Aluminio</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Material del asiento: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Imitación piel</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Ángulo de inclinación: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">90° - 135°</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Altura máxima del asiento: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">59,5 cm</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Peso máximo: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">120 kg</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Stock: </p>
      <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin: 10px;">{{this.stock}}</p>
      <!-- Product Pricing -->
      <div class="product-price">
        <br>
        <h1 style="font-size: 30px; color: #050404; display: inline; margin-left: 35%;">$399.990</h1>
        <br><br>
        <a class="btn" style="margin-left: 35%;" (click)="onClick()">Comprar</a>
      </div>
    </div>
  </main>

</body>