<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a style="font-size: 22px; color: 2c2b2b; top:5px;" href="/"><img width="100%" alt="Silla" src="https://i.ibb.co/Vt39XRZ/Sin-t-tulo.png"/></a>
</div>

<body>
    <div class="container">
        <div class="cuadro">
            <img width="70%" style="margin-bottom: 20px;" src="https://i.ibb.co/MGTd7W6/check.png"/>
             <span>¡Felicitaciones!</span>
            <h1 style="font-size: 18px; margin-top: 10px; ">Tu compra está siendo procesada...</h1>
        </div>
    </div>
</body>

