<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a style="font-size: 22px; color: 2c2b2b; top:5px;" href="#"><img width="100%" alt="Silla" src="https://i.ibb.co/Vt39XRZ/Sin-t-tulo.png"/></a>
  <div class="login">
      <a style="font-size: 22px; color: 2c2b2b; top:5px; right: 10px;" href="/login/" ><img width="40" alt="Cuenta" src="https://i.ibb.co/drNvwyk/account.png"/></a>
  </div>
</div>

<body>
  <main class="container">
 
    <div class="left-column">      
    </div>
      
    
    <div class="right-column">
   
      <div class="product-description">
        <span>Sillas gamer</span>
        <h1>Corsair T2 Road Warrior</h1>
        <p style="color: rgb(110, 110, 110);">La silla CORSAIR T2 ROAD WARRIOR presenta un asiento ancho, respaldo alto y cojín del asiento mullido, para proporcionar comodidad durante todo el día y soporta hasta 136Kg. Los tonos de color personalizados en dos capas y el asiento y el respaldo permiten combinar fácilmente los colores con su sistema o configuración; por su parte, cinco ruedas de tipo patín permiten moverse sin esfuerzo en una amplia gama de superficies.</p>
      </div>
   
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Color: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Negro</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Reposabrazos ajustable: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Si</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Material del marco: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Metal</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Material del asiento: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">Espuma</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Ángulo de inclinación: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">0 - 17°</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Ajuste de altura: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">60 cm</p><br>
      <p style="font-size: 20px; color:rgb(66, 66, 66); font-weight: bold; display: inline; margin:0; float:left">Peso máximo: </p> <p style="font-size: 20px; color:rgb(88, 88, 88); display: inline; margin:10px">136 kg</p><br>
      <!-- Product Pricing -->
      <div class="product-price">
        <br>
        <h1 style="font-size: 30px; color: #050404; margin-left: 35%;">$299.990</h1>
        <br>
        <a class="btn" style="margin-left: 35%;" href="/compra/">Comprar</a>
      </div>
    </div>
  </main>

</body>