<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a style="font-size: 22px; color: 2c2b2b; top:5px;" href="/"><img width="100%" alt="Silla" src="https://i.ibb.co/Vt39XRZ/Sin-t-tulo.png"/></a>
  
</div>

<body>
  <div class="container">
    <div class="info">
      <span>INFORMACIÓN DE DESPACHO</span>
      <br><br>
      <div class="form">
        <form (ngSubmit) = "registrarcompraDB(f)" #f = "ngForm"> 
          <div class="form-group">
              <input type="text"  name="comuna" [(ngModel)]="info_pedido.comuna" class="form-control input-lg" placeholder="Comuna" required="required">
          </div>
          <div class="form-group">
              <input type="text"  name="calle" [(ngModel)]="info_pedido.calle" class="form-control input-lg" placeholder="Calle" required="required">
          </div>
          <div class="form-group">
              <input type="text"  name="numero" [(ngModel)]="info_pedido.numero" class="form-control input-lg" placeholder="Número" required="required">
          </div>
          <div class="form-group">
              <input type="text"  name="depto" [(ngModel)]="info_pedido.depto" class="form-control input-lg" placeholder="Depto/Casa">
          </div>
          <div class="form-group">
              <input type="text" name="telefono" [(ngModel)]="info_pedido.telefono" class="form-control input-lg"  placeholder="Teléfono de contacto" required="required">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-success btn-lg btn-block signin-btn">Procesar compra</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</body>
