.topnav {
    overflow: hidden;
    background-color: #ccccccd7;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  .topnav .login{
    float: right;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;    
    background-image: url("https://i.ibb.co/JBqr08s/image-from-rawpixel-id-1201862-jpeg.jpg");
    background-size: cover;
  }