<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <a style="font-size: 22px; color: 2c2b2b; top:5px;" href="#"><img width="100%" alt="Silla" src="https://i.ibb.co/Vt39XRZ/Sin-t-tulo.png"/></a>
  <div class="login">
      <a style="font-size: 22px; color: 2c2b2b; top:5px; right: 10px;" href="/login/" ><img width="40" alt="Cuenta" src="https://i.ibb.co/drNvwyk/account.png"/></a>
  </div>
</div>


<div class="rect">
  <p style="align-content: center;">¡Conoce nuestros productos!</p>
</div>

<div class="catalogo">
  <div class="row">
    <div class="column">
      <div class="product">
        <span class="product__price">$399.990</span>
        <img class="product__image" src="https://i.ibb.co/wCX3KqY/NBL-PU-GOL-002-1.jpg">
        <h1 class="product__title">Silla Gamer Noblechairs Epic Black/Gold</h1>
        <hr />
        <p>Los estándares de Noblechairs crean una combinación inconfundible de estética, materiales lujosos y comodidad absoluta. Esto se debe en gran medida a la fabricación de precisión automatizada industrialmente, con el resultado final de una mezcla incomparable de artesanía impecable que ayuda a hacer que las sillas de los nobles sientan una alegría.</p>
        <br><br><br><br>
        <a href="#" class="btn" (click)="onClick(1)">Ver</a>
      </div>
    </div>
  
    <div class="column">
      <div class="product">
        <span class="product__price">$299.990</span>
        <img class="product__image" src="https://i.ibb.co/qnY040J/1545230236859-46498100-6975487092-1.jpg">
        <h1 class="product__title">Silla Gamer Corsair T2 Road Warrior</h1>
        <hr />
        <p>La silla CORSAIR T2 ROAD WARRIOR presenta un asiento ancho, respaldo alto y cojín del asiento mullido, para proporcionar comodidad durante todo el día y soporta hasta 136Kg. Los tonos de color personalizados en dos capas y el asiento y el respaldo permiten combinar fácilmente los colores con su sistema o configuración; por su parte, cinco ruedas de tipo patín permiten moverse sin esfuerzo en una amplia gama de superficies.</p>
        <br><br>
        <a href="#" class="btn" (click)="onClick(2)">Ver</a>
      </div>
    </div>
    
    <div class="column">
      <div class="product">
        <span class="product__price">$349.990</span>
        <img class="product__image" src="https://i.ibb.co/PDqNSVV/SKILLER-SGS4-Blue-01-1.jpg">
        <h1 class="product__title">Silla Gamer Sharkoon Skiller SGS4</h1>
        <hr />
        <p>La silla gaming SKILLER SGS4 destaca por su apariencia deportiva y también  gran comodidad al estar sentado en ella. Asiento y respaldo, la sólida base de cinco radios y la robusta estructura de acero, garantizan una gran relajación y facilidad para sumergirse en el juego incluso para usuarios corpulentos. Para un mayor comfort, la SKILLER SGS4 viene con un cojín para la cabeza y otro para la zona lumbar.</p>
        <br><br>
        <br>
        <a href="#" class="btn" (click)="onClick(3)">Ver</a>
      </div>
    </div>    
  </div>
  <br><br><br><br>
</div>

